@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body #fonts {
  font-family: 'Montserrat', sans-serif;
}

.CodeMirror {
  width: 70vw;
  min-height: 97vh;
  overflow: hidden;
}

.header-text {
  padding: 24px 20px 14px;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
}

.subheader-text {
  padding: 14px 14px;
  background-color: #3aa7f6;
  color: black;
  display: flex;
}

.ui-grid-container {
  width: 100% !important;
}

.comment-section-header {
  padding: 14px 14px;
  background-color: #eeeded;
}

.video-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 0;
}

.remote-video {
  width: 30vw;
  height: 18vh;
}

.local-video {
  width: 30vw;
  height: 18vh;
}

.swap-role-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
