.booking-interview-header {
  color: white;
  font-weight: lighter;
}

.delete-modal-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.delete-modal-inner-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.delete-modal-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}

.delete-modal-subheaders {
  font-weight: lighter;
  margin-bottom: 0px !important;
}

body.modal-open {
  overflow: hidden;
}
