.design {
  color: #080000;
  width: 350px;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 25px 11px 20px;
}

.span-design {
  background: #fff;
  padding: 0 10px;
}
